.math{
    margin-left: 40%;
    margin-top: 30px;
    
}
.button{
margin-left: 7%;
}
.soa{
margin-left:5% ;
}
.sob{
    margin-left: 5%;
}
.tong{
    margin-left: 5%;
}
.button:hover{
    background-color: rgb(159, 160, 160);
    border-radius: 5px;
    
}